.header{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('02_banner.jpg');
    position: relative;
    padding-top: 250px;
    color: #d0d0d0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
    padding-bottom: 12%;
}
.nav{
   
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  position: fixed;
  bottom: 85%;
  width: 96%;
   
}

.hover:hover{
    color: blue;
}
.font{
  
    font-family: "Phetsarath", serif;
    font-weight: 400;
    font-style: normal;
 
}

.p{
    border: 2px solid red;
    width: 30%;
    color: blue;
}
.img img{
    
    width: 200%;
    height: 100%;
}
@media only screen and (max-width: 600px) {
    .pro{ 
       flex-direction: column;
    }
    .banner{
        flex-direction: column;
        text-align: center;
    }
   .solid{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
   }
   .footer{
    text-align:center ;
   }
   
   
}
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('04_facts.jpg');
    position: relative;
    padding-top: 100px;
    color: #d0d0d0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
    padding-bottom: 100px;
    justify-content: center;
    gap: 100px;

}
.web{
  
   text-align: center;
}
.footer{
    background-image:linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('05_quote.jpg');
    position: relative;
    padding-top: 100px;
    color: #d0d0d0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    height: 100%;
    padding-bottom: 100px;
    justify-content: center;
    gap: 100px;
}
.from{
    background-color: aquamarine;
}